@page "/books"
@attribute [Authorize]

<h3>Books</h3>

<div class="row">
    @if (ListBooks.Any())
    {
        @foreach (var book in ListBooks)
        {
            <div class="col-6 col-sm-12 col-md-6 col-lg-4 col-xl-4 mh-25 mb-4">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <h5 class="card-title"><b>@book.Name</b></h5>
                        <p class="card-text">@book.Description</p>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Release: @book.ReleaseDate</span>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No books available</p>
    }
</div>